@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;    
}

.mainContainer{
    display: flex;
    justify-content: center;
}

.ItemDetailContainer h1{    
    text-align: center;
}

.ItemDetailContainerProducts{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 30px;
}

.titleProductsPage{
    display: block;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

nav{
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    border:1px solid #FF6961;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #FF6961;
}

nav ul{    
    width: 100%;
    display: flex;       
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.divUlNavbar li{
    padding: 0 60px;
}

nav a{    
    color: white;
    padding: 9px 17px;
    text-decoration: none;
}

.divLogo{
    margin-left: 40px;
}

.divCartWidget{
    margin-right: 40px;
}


nav a:hover {
    color: black;
}

nav li img{
    height: 42px;    
}

/*Cart widget navbar*/

.divCartWidget{
    display: flex
}
.divCartWidget span{
    margin: 0;
    padding: 0;
}

.divCartItemListContainer{  
    width: 400px;
    height: 120px;        
    border-radius: 5px;    
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 50px; 
    text-align: center;    
}
.divLeftCartItemListContainer{       
    padding: 0px;
    width: 35%;
    height: 100%;
}

.divLeftCartItemListContainer img{       
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 5px 5px 0px 0px;   
}

.divRightCartItemListContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divRightCartItemListContainer h3{       
    margin: 0.5rem;
    padding: 0%;
}

.divRightCartItemListContainer h5{       
    margin: 0.5rem;
    padding: 0%;
}

.divCartContainer {
    width: 100%;
    height: 100%;
}

/* */

/* Item list container */

.divItemListContainer{  
    width: 300px;
    height: 400px;        
    border-radius: 5px;    
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px; 
    text-align: center;    
}
.divSuperiorItemListContainer{       
    padding: 0px;
}

.divSuperiorItemListContainer img{       
    height: 50%;
    width: 100%;
    padding: 0;
    border-radius: 5px 5px 0px 0px;   
}

.divSuperiorItemListContainer h3{       
    margin: 0.5rem;
    padding: 0%;
}

.divSuperiorItemListContainer h5{       
    margin: 0.5rem;
    padding: 0%;
}

.divSuperiorItemListContainer h6{       
    margin: 0.5rem;
    padding: 0%;
}

.divInferiorItemListContainer{
    background: #b19cd9;
    height: fit-content;    
}

.divInferiorItemListContainer p{
    margin: 0;
}

.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
  }

/* FIN Item list container */

/* Footer */

.Footer{
    display: flex;
    width: 100%;
    background: #FF6961;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

/* Fin Footer */

/* Counter */
.divItemCounterContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;    
    justify-content: center;        
    padding: 10px;
    margin-top: 10px;    
}

.divItemCounterContainerInside{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: fit-content;           
    background-color: rgb(231, 231, 231);
    padding: 5px;
    border: none;
    border-radius: 10px;
    max-width: 110px;     
    min-width: 110px;     
}

.divItemCounterContainerInside button{    
    border: 0px ;    
    background-color: transparent;
    color: black;        
    font-size: 18px; 
    font-weight: bold;  
}

.divItemCounterContainerInside span{        
    padding: 0px 18px;
    background-color: transparent;
    color: black;    
    height: 20px;        
    font-size: 18px;     
    font-weight: bold;  
}
/* Fin Counter */

.cargando{
    text-align: center;
    font-size: 3rem;
}

/*ItemDetail*/

.divItemDetail{
    display: flex;    
    align-content: space-around;    
    height: auto;
    margin-top: 40px;
}

.divItemDetail .divItemDetailLeft{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.divItemDetail .divItemDetailLeft img{
    width: 60%;     
    border-radius: 25px;   
}

.divItemDetail .divItemDetailRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;        
    text-align: center;    
    padding: 10px 100px
}

.divItemDetail .divItemDetailRight div{
    padding: 5px;
}

.divItemDetail .divItemDetailRight .titulo span{
    font-weight: bold;
    font-size: 30px;
}

.divItemDetail .divItemDetailRight .precio span{
    font-weight: bold;
    font-size: 20px;
}

.divItemDetail .divItemDetailRight .descripcion span{    
    font-size: 20px;
}



/*Fin ItemDetail */





