*{
    box-sizing: border-box;
}

nav{
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    border:1px solid #FF6961;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #FF6961;
}

nav ul{    
    width: 100%;
    display: flex;       
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.divUlNavbar li{
    padding: 0 60px;
}

nav a{    
    color: white;
    padding: 9px 17px;
    text-decoration: none;
}

.divLogo{
    margin-left: 40px;
}

.divCartWidget{
    margin-right: 40px;
}


nav a:hover {
    color: black;
}

nav li img{
    height: 42px;    
}

/* Item list container */

.divItemListContainer{    
    border: 3px #FF6961;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 50px; 
    text-align: center;
}
.divSuperiorItemListContainer{       
    padding: 25px;
}

.divInferiorItemListContainer{
    background: #b19cd9;
    height: fit-content;    
}

.divInferiorItemListContainer p{
    margin: 0;
}

/* FIN Item list container */

/* Footer */

.Footer{
    display: flex;
    width: 100%;
    background: #FF6961;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
}

/* Fin Footer */



